<%= form_for(@new_tracker, class: "tracker-form") do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.text_field :title, placeholder: "Title", class: "input-field required", maxlength: "30" %>
	<%= f.hidden_field :units, :value => "reps" %>
	<%= f.text_field :aux_units, placeholder: "Weight Units (i.e. pounds)", class: "input-field required" %>
	<%= f.text_field :goal, placeholder: "Reps Goal", class: "short-input-field", onkeypress: "return isNumberKey(event)"  %>
	<%= f.text_field :aux_goal, placeholder: "Weight Goal", class: "short-input-field pull-right", onkeypress: "return isNumberKey(event)"  %>
	<table>
		<tr>
			<td class="vert-center"><%= f.label :start_date %></td>
			<td class="date-field"><%= f.date_field :start_date, placeholder: "Start date", class: "input-field" %></td>
		</tr>
		<tr>
			<td class="vert-center"><%= f.label :end_date %></td>
			<td class="date-field"><%= f.date_field :end_date, placeholder: "End date", class: "input-field" %></td>
		</tr>
	</table>
	<%= f.hidden_field :category, :value => "lift" %>
	<div class="center-container"><%= f.submit "Create", class: "button tracker-form-button" %></div>
<% end %>