<% provide(:title, 'Sign Up') %>
<div class="sign-page-container" class="static-page-container">
	<div class="sign-form-container white-transparent-form">
		<h2 class="center">Sign Up</h2>

		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: "input-field" %><br/>

			<%= f.label :email %>
			<%= f.text_field :email, class: "input-field" %><br/>

			<%= f.label :password %>
			<%= f.password_field :password, class: "input-field" %><br/>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: "input-field" %><br/>

			<%= f.submit "Sign Up", class: "button sign-submit-button" %>

		<% end %>

		<p>Already registered? <%= link_to "Sign in here!", signin_path %></p>
	</div>

</div>