<% provide(:title, 'Edit Challenge') %>
<div class="sign-page-container" class="static-page-container">
	<div class="sign-form-container white-transparent-form">
		<h2 class="center">Edit Challenge</h2>

		<%= form_for(@challenge) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title, class: "input-field", maxlength: "30"  %><br/>

			<%= f.label :description %>
			<%= f.text_area :description, class: "input-textarea" %><br/>

			<%= f.label :category, "Challenge Goal" %>
			<%= f.select :category, [
				['Highest Value', 'highest_value'], ['Lowest Value', 'lowest_value'], 
				['Highest Cumulative Total', 'highest_cumulative'], ['Lowest Cumulative Total', 'lowest_cumulative'], 
				['Greatest Increase in Value', 'greatest_increase'], ['Greatest Decrease in Value', 'greatest_decrease'], 
				['Greatest Percent Increase', 'greatest_percent_increase'], ['Greatest Percent Decrease', 'greatest_percent_decrease']], {}, class: "input-field", id: "challenge-select" %>


			<%= f.label :units %>
			<%= f.text_field :units, class: "input-field" %>

			<%= f.label :start_date %>
			<%= f.date_field :start_date, class: "input-field" %>

			<%= f.label :end_date %>
			<%= f.date_field :end_date, class: "input-field" %>

			<%= link_to '<button>Delete Challenge</button>'.html_safe, @challenge, method: :delete, data: { confirm: "Are you sure? This will permanently delete this challenge and all of its associated data." }, title: @challenge.title %>
			<%= f.submit "Save changes", class: "button" %>

		<% end %>
		
	</div>

</div>