<% provide(:title, 'New Challenge') %>
<div class="sign-page-container" class="static-page-container">
	<div class="sign-form-container white-transparent-form">
		<h2 class="center">New Challenge</h2>

		<%= form_for(@challenge) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title, class: "input-field required", maxlength: "30" %><br/>

			<%= f.label :description %>
			<%= f.text_area :description, class: "input-textarea" %>

			<%= f.label :category, "Challenge Goal" %>
			<%= f.select :category, [
				['Highest Value', 'highest_value'], ['Lowest Value', 'lowest_value'], 
				['Highest Cumulative Total', 'highest_cumulative'], ['Lowest Cumulative Total', 'lowest_cumulative'], 
				['Greatest Increase in Value', 'greatest_increase'], ['Greatest Decrease in Value', 'greatest_decrease'], 
				['Greatest Percent Increase', 'greatest_percent_increase'], ['Greatest Percent Decrease', 'greatest_percent_decrease']], {}, class: "input-field required", id: "challenge-select" %>


			<%= f.label :units %>
			<%= f.text_field :units, class: "input-field required" %>

			<%= f.label :start_date %>
			<%= f.date_field :start_date, class: "input-field required" %>

			<%= f.label :end_date %>
			<%= f.date_field :end_date, class: "input-field required" %>

			<%= f.submit "Create", class: "button sign-submit-button" %>

		<% end %>
	</div>

</div>